[gcode_macro CLEAN_NOZZLE]
description: Nozzle clean and park at purge bucket
gcode:

    # ---- Temperature ----
    {% set HOTEND_TEMP = 210 %}

    # ---- Speeds ----
    {% set WIPE_SPEED = 16000 %}
    {% set MOVE_SPEED = 16000 %}
    {% set Z_SPEED = 3000 %}

    # ---- Brush wipe area ----
    {% set WIPE_X1 = 138 %}
    {% set WIPE_X2 = 200 %}
    {% set WIPE_X_END = 220 %}
    {% set WIPE_Y  = 0.5%}

    # ---- Purge bucket park ----
    {% set PARK_X = 120%}
    {% set PARK_Y = 0.5 %}

    # ---- Heights ----
    {% set WIPE_Z  = 0.6 %}
    {% set SAFE_Z  = 10 %}

    # ---- Adjustable cleaning ----
    {% set WIPE_CYCLES = 1 %}
    {% set WIPE_PASSES = 6 %}

    {% if printer.toolhead.homed_axes != "xyz" %}
        M117 Homing printer
        G28
    {% endif %}

    {% if not printer.quad_gantry_level.applied %}
        M117 Running QGL
        QUAD_GANTRY_LEVEL
        G28 Z
    {% endif %}

    G90
    M83

    # Lift safely
    G1 Z{SAFE_Z} F{Z_SPEED}

    #move to hold
    M117 Moving brush to hold
    G1 X{PARK_X} Y{WIPE_Y} F{MOVE_SPEED}

    # Heat nozzle
    M117 Heating nozzle
    M104 S{HOTEND_TEMP}

    # Faster temp window
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={HOTEND_TEMP-15} MAXIMUM={HOTEND_TEMP+10}
    
    # Move to brush
    M117 Moving to brush
    G1 X{WIPE_X1} Y{WIPE_Y} F{MOVE_SPEED}

    # Lower to brush
    G1 Z{WIPE_Z} F1200

    # Cleaning cycles
    M117 Cleaning nozzle

    {% for cycle in range(WIPE_CYCLES) %}

        {% for wipe in range(WIPE_PASSES) %}
            G1 X{WIPE_X2} F{WIPE_SPEED}
            G1 X{WIPE_X1} F{WIPE_SPEED}
            G1 X{WIPE_X2} F{WIPE_SPEED}
        {% endfor %}

    {% endfor %}

    # Lift nozzle
    G1 Z{SAFE_Z} F{Z_SPEED}

    # Park at purge bucket
    M117 Moving to purge bucket
    G1 X{WIPE_X_END} Y{PARK_Y} F{MOVE_SPEED}

    G92 E0
    M82

    M117 Nozzle clean complete