[gcode_macro COOL_NOZZLE]
description: Cool nozzle to target using part cooling fans
gcode:
    {% set TARGET = params.TARGET|default(150)|float %}
    {% set CURRENT = printer.extruder.temperature|float %}

    {% if CURRENT > TARGET + 2 %}
        M117 Cooling nozzle to {TARGET|int}C

        # Set heater to the required final temperature
        M104 S{TARGET}

        # Part cooling fans at 100%
        M106 S255

        # Wait until nozzle falls within 2C of target
        TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={TARGET+2}

        # Turn part cooling fans off
        M107
        M117 Nozzle cooled
    {% else %}
        M104 S{TARGET}
    {% endif %}