#####################################################################
# Cabinet / Filter Fans
#####################################################################

[fan_generic Nevermore]
pin: PE0
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0


[fan_generic Bedfans]
pin: PC12
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0


[gcode_macro FILTER_FANS_OFF]
gcode:
    SET_FAN_SPEED FAN=Bedfans SPEED=0
    SET_FAN_SPEED FAN=Nevermore SPEED=0


[gcode_macro FILTER_FANS_ON]
gcode:
    {% set SPEED = params.SPEED|default(1.0)|float %}
    SET_FAN_SPEED FAN=Bedfans SPEED={SPEED}
    SET_FAN_SPEED FAN=Nevermore SPEED={SPEED}
