#####################################################################
# Mick Edition Macro Pack
# Add this ONE line to printer.cfg:
# [include macros/mick_macro_pack.cfg]
#####################################################################

[include 1.printer_settings.cfg]
[include 1.fans.cfg]
[include 1.lights.cfg]
[include 1.filament_runout.cfg]
[include 1.temperature_wrappers.cfg]
[include 1.park.cfg]
[include 1.nozzle_clean.cfg]
[include 1.purge_to_bucket.cfg]
[include 1.adaptive_purge.cfg]
[include 1.filament_handling.cfg]
[include 1.service_mode.cfg]
[include 1.print_start.cfg]
[include 1.safety.cfg]
