#####################################################################
# Nozzle Clean
#####################################################################

[gcode_macro CLEAN_NOZZLE]
description: Nozzle clean and park at purge bucket
gcode:
    {% set S = printer["gcode_macro PRINTER_SETTINGS"] %}

    {% if printer.toolhead.homed_axes != "xyz" %}
        M117 Homing printer
        G28
    {% endif %}

    {% if not printer.quad_gantry_level.applied %}
        M117 Running QGL
        QUAD_GANTRY_LEVEL
        G28 Z
    {% endif %}

    G90
    M83

    G1 Z{S.safe_z} F{S.z_speed}

    M117 Moving brush to hold
    G1 X{S.purge_x} Y{S.brush_y} F{S.fast_move_speed}

    M117 Heating nozzle
    M104 S{S.clean_temp}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={S.clean_temp-15} MAXIMUM={S.clean_temp+10}

    M117 Moving to brush
    G1 X{S.brush_x1} Y{S.brush_y} F{S.fast_move_speed}

    G1 Z{S.clean_wipe_z} F1200

    M117 Cleaning nozzle

    {% for cycle in range(S.clean_wipe_cycles|int) %}
        {% for wipe in range(S.clean_wipe_passes|int) %}
            G1 X{S.brush_x2} F{S.clean_wipe_speed}
            G1 X{S.brush_x1} F{S.clean_wipe_speed}
            G1 X{S.brush_x2} F{S.clean_wipe_speed}
        {% endfor %}
    {% endfor %}

    G1 Z{S.safe_z} F{S.z_speed}

    M117 Moving to purge bucket
    G1 X{S.brush_x_end} Y{S.purge_y} F{S.fast_move_speed}

    G92 E0
    M82

    M117 Nozzle clean complete
    G4 P2000
    M117
