#####################################################################
# Nozzle Clean
#####################################################################

[gcode_macro CLEAN_NOZZLE2]
description: Nozzle clean and park at purge bucket
gcode:
    {% set S = printer["gcode_macro PRINTER_SETTINGS"] %}
    {% set X_MIN = (S.brush_x_min * 10)|int %}
    {% set X_MAX = (S.brush_x_max * 10)|int %}
    {% set Y_MIN = (S.brush_y_min * 10)|int %}
    {% set Y_MAX = (S.brush_y_max * 10)|int %}
    # Always enter the scrubber near its left edge; randomise only within 2 mm.
    {% set START_X = (range(X_MIN, X_MIN + 21)|random) / 10.0 %}
    {% set START_Y = (range(Y_MIN, Y_MAX + 1)|random) / 10.0 %}

    {% if printer.toolhead.homed_axes != "xyz" %}
        M117 Homing printer
        G28
    {% endif %}

    {% if not printer.quad_gantry_level.applied %}
        M117 Running QGL
        QUAD_GANTRY_LEVEL
        G28 Z
    {% endif %}

    G90
    M83

    G1 Z{S.safe_z} F{S.z_speed}

    M117 Moving brush to hold
    G1 X{S.purge_x} Y{START_Y} F{S.fast_move_speed}

    M117 Heating nozzle
    M104 S{S.clean_temp2}
    #TEMPERATURE_WAIT SENSOR=extruder MINIMUM={S.clean_temp2-5} MAXIMUM={S.clean_temp2+5}

    M117 Moving to brush
    G1 X{START_X} Y{START_Y} F{S.fast_move_speed}

        # Cool while safely above the brush, then scrub at Touch temperature.
    COOL_NOZZLE TARGET=170

    G1 Z{S.clean_wipe_z} F1200

    M117 Cleaning nozzle

    {% for cycle in range(S.clean_wipe_cycles|int) %}
        {% for wipe in range(S.clean_wipe_passes|int) %}
            G1 X{(range(X_MAX-20, X_MAX+1)|random)/10.0} Y{(range(Y_MIN, Y_MAX+1)|random)/10.0} F{S.clean_wipe_speed}
            G1 X{(range(X_MIN, X_MIN+21)|random)/10.0} Y{(range(Y_MIN, Y_MAX+1)|random)/10.0} F{S.clean_wipe_speed}
            G1 X{(range(X_MAX-20, X_MAX+1)|random)/10.0} Y{(range(Y_MIN, Y_MAX+1)|random)/10.0} F{S.clean_wipe_speed}
        {% endfor %}
    {% endfor %}

    G1 Z{S.safe_z} F{S.z_speed}

    M117 Moving to purge bucket
    G1 X{S.brush_x_end} Y{S.purge_y} F{S.fast_move_speed}

    G92 E0
    M82

    M117 Nozzle clean complete
    G4 P2000
    M117

