#####################################################################
# Purge To Bucket
#####################################################################

[gcode_macro PURGE_TO_BUCKET]
description: Purge into bucket, wipe nozzle, then ready for print
gcode:
    {% set S = printer["gcode_macro PRINTER_SETTINGS"] %}

    G90
    M83

    M117 Purging to bucket

    G1 Z{S.safe_z} F{S.z_speed}
    G1 X{S.purge_x} Y{S.purge_y} F{S.move_speed}
    G4 P2500
    G1 Z{S.purge_z} F1200

    {% for purge in range(S.purge_cycles|int) %}
        G1 E{S.purge_per_cycle} F{S.purge_speed}
        G1 E-3.0 F1800
        G4 P2000
    {% endfor %}

    M117 Wiping nozzle

    {% for cycle in range(S.bucket_wipe_cycles|int) %}
        G1 X{S.brush_x1} Y{S.brush_y} F{S.move_speed}
        G1 Z{S.wipe_z} F1200

        {% for wipe in range(S.bucket_wipe_passes|int) %}
            G1 X{S.brush_x2} F{S.wipe_speed}
            G1 X{S.brush_x1} F{S.wipe_speed}
            G1 X{S.brush_x2} F{S.wipe_speed}
        {% endfor %}

        G1 Z{S.safe_z} F{S.z_speed}
        G1 X{S.brush_x_end} F{S.move_speed}
    {% endfor %}

    G92 E0
    M82

    M117 Bucket purge complete
    G4 P1000
    M117
