[gcode_macro PURGE_TO_BUCKET]
description: Purge into rear bucket, wipe nozzle, then ready for print
gcode:
    {% set PURGE_X = 340 %}
    {% set PURGE_Y = 350 %}

    {% set WIPE_X1 = 270 %}
    {% set WIPE_X2 = 320 %}
    {% set WIPE_Y  = 350 %}
    {% set WIPE_Z  = 1.0 %}

    {% set SAFE_Z = 10 %}

    # ---- Adjustable Variables ----
    {% set PURGE_CYCLES = 1 %}
    {% set PURGE_PER_CYCLE = 10 %}
    {% set WIPE_CYCLES = 1 %}
    {% set WIPE_PASSES = 3 %}

    {% set PURGE_SPEED = 300 %}
    {% set WIPE_SPEED = 12000 %}
    {% set MOVE_SPEED = 12000 %}

    G90
    M83

    M117 Purging to bucket

    G1 Z{SAFE_Z} F3000
    G1 X{PURGE_X} Y{PURGE_Y} F{MOVE_SPEED}

    # ---- Purge cycles ----
    {% for purge in range(PURGE_CYCLES) %}

        G1 E{PURGE_PER_CYCLE} F{PURGE_SPEED}

        # Small retract to reduce ooze
        G1 E-1.0 F1800

        # Allow pressure recovery
        G4 P500

    {% endfor %}

    # ---- Wipe cycles ----
    M117 Wiping nozzle

    {% for cycle in range(WIPE_CYCLES) %}

        G1 X{WIPE_X1} Y{WIPE_Y} F{MOVE_SPEED}
        G1 Z{WIPE_Z} F1200

        {% for wipe in range(WIPE_PASSES) %}
            G1 X{WIPE_X2} F{WIPE_SPEED}
            G1 X{WIPE_X1} F{WIPE_SPEED}
        {% endfor %}

        G1 Z{SAFE_Z} F3000

    {% endfor %}

    G92 E0
    M82

    M117 Bucket purge complete