[gcode_macro LOAD_FILAMENT]
gcode:
    {% set HOTEND_load_TEMP = 240 %}
    SET_DISPLAY_TEXT MSG="Loading Filament into extruder"
    G4 P5000
    SET_DISPLAY_TEXT MSG=""
    M83                            ; set extruder to relative
    M104 S{HOTEND_load_TEMP}         ; Set nozzle temp
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={HOTEND_load_TEMP-10} MAXIMUM={HOTEND_load_TEMP+10}
    G1 E30.0 F300                  ; load into extruder gears
    M400                           ; wait until complete until displaying next action
    M117 Filament loading into Hotend
    G4 P1000                       ;Wait 1 second
    G1 E75.0 F300                  ; load into hotend
    M400                           ; wait until complete until displaying next action
    M117 Filament Purge 
    G4 P2000                       ; Wait 2 seconds to heat soak
    G1 E75.0 F600                  ; prime nozzle with filament
    G1 E-5 F600                    ; retract slightly
    M82                            ; set extruder to absolute
    G92 E0.0                       ; reset extruder
    M400                           ; wait until complete until displaying next action
    M117 Filament load complete Resume print when ready
    G4 P4000                    ; wait for 4 seconds before next action 
    M117 ;clear message


[gcode_macro UNLOAD_FILAMENT]
gcode:

   {% set HOTEND_unload_TEMP = 215 %}
    M117 Preparing filament unload
    M83                                ; relative extrusion

    M104 S{HOTEND_unload_TEMP}         ; Set nozzle temp
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={HOTEND_unload_TEMP-5} MAXIMUM={HOTEND_unload_TEMP+5}
    ; --- soften nozzle ---
    G1 E2 F240                         ; small push only

    ; --- form clean tip ---
    G1 E-10 F1800                     ; fast snap retract from melt zone
    G4 P500                           ; short cool only (1.5s)

    ; second neck snap
    G1 E-6 F1900


    M117 Unloading filament

    ; --- full unload ---
    G1 E-110 F1900                    ; fast extraction 1900 as fast as i can go 

    M82
    G92 E0

    M117 Unload complete
    G4 P3000
    M117


[gcode_macro M600]
description: Filament change
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    #G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    #G1 E-50 F1000 ; wtf is this
    RESTORE_GCODE_STATE NAME=M600_state


######################################


